<script type="text/html" id="path-template">
    <div class="row path">
            <div class="col-md-5">${source}</div>
            <div class="col-md-1">=></div>
            <div class="col-md-5">${destination}</div>
    </div>
</script>

<script type="text/html" id="calculation-row-template">
    <tr>
        <td>${source}</td>
        <td>${destination}</td>
        <td>${price}</td>
        <td>${duration}</td>
    </tr>
</script>