<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h4>Sources</h4>
            <div id="sources">
                <div class="clickable source-point">Sofia</div>
                <div class="clickable source-point">Mińsk</div>
                <div class="clickable source-point">Moskwa</div>
                <div class="clickable source-point">Oslo</div>
                <div class="clickable source-point">Lizbona</div>
                <div class="clickable source-point">Rzym</div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Destinations</h4>
            <div id="destinations">
                <div class="clickable destination-point">Neapol</div>
                <div class="clickable destination-point">Łódź</div>
                <div class="clickable destination-point">Odessa</div>
                <div class="clickable destination-point">Helsinki</div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <div class="row">
                    <div class="col-md-10">
                        <h4>Selected</h4>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default js-clear-paths-button">Clear</button>
                    </div>
                </div>
                <div id="routes"></div>
            </div>
        </div>
    </div>
</div>

