<div class="jumbotron">
    <div id="top-panel" class="js-top-panel">
        <input type="text" id="source" placeholder="Enter source" class="js-source-input" />
        <input type="text" id="destination" placeholder="Enter destination" class="js-destination-input" />
        <button type="button" class="btn btn-primary js-add-to-results-button">Add to Results</button>
        <button type="button" class="btn btn-link js-add-multiple-paths-button" data-toggle="modal" data-target="#addMultiplePathsDialog">Add Multiple Paths to Results</button>
    </div>
</div>
